.zoom {
    transition: transform .1s;
}

.zoom:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.list-inline a, .list-inline a:hover  {
    color: rgb(38, 51, 62);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.list-inline a, .list-inline a:hover  {
    color: rgb(38, 51, 62);
    text-decoration: none;
}

.card {
    width: 300px;
    height: 170px;
    border: 1px solid #274F73;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    padding-top: 30px;
}

a:hover {
    text-decoration: none;
    color: #274F73;
}

.col-sm-6 a {
    color: #274F73;
    font-family: 'Bitter', serif;
}

.card1 {
    width: 300px;
    height: 170px;
    border: 1px solid #274F73;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    padding-top: 30px;
    background-color: rgb(255, 231, 206);
}
